<section class="oe_container">
                       <div class="row mt92 o_equal_col_sm">
                          <div class="" style="display:block;margin:0 auto;width: 500px;">
                             <div style="display: inline-block;width: 240px;">
                                <a href="https://www.prolitus.com" target="_blank" style="width: 100&#37;;display: inline-block;">
                                    <img class="img img-responsive mt16" src="prolitus_logo.png" style="display: block;margin: 0 auto;"/>
                                </a>
                             </div>
                             <div style="width: 2px;height: 105px;background-image: -webkit-linear-gradient(transparent, #dce2e6, transparent);display: inline-block;vertical-align: top;"></div>
                             <div style="display: inline-block;width: 240px;">
                                <a href="https://www.prolitus.com/odoo-partner" target="_blank" style="width: 100&#37;;display: inline-block;">
                                    <img class="img img-responsive mt16" src="ept_odoo_partner.png" style="margin: 0 auto;display: block;"/>
                                </a>
                             </div>
                          </div>
                       </div>
                    </section>
<section class="oe_container">
                                       <div class="mt64 mb64 pt32">
                                          
                                          <h2 class="oe_slogan" style="color: #091E42;font-family: Roboto;font-weight: 500;text-align:center;text-transform: uppercase;">
                                             Shopify Odoo Connector
                                          </h2>
                                          <p class="mb16 text-center text-black-dark" style="font-family: Roboto;font-weight: initial;color: #091E42;text-align:center;">
                                             Shopify is a famous cloud-based, multi-channel eCommerce platform designed for small and medium businesses. When a Shopify Seller uses Odoo as their backend ERP, the Shopify Odoo Connector is a must-have product for them. Using this connector, a seller can integrate Shopify Store with Odoo and manage different operations such as publishing products to Shopify, Importing Orders to odoo and much more. Automate all Shopify Odoo Integration operations to save a lot of time and efforts using this connector.
 
                                          </p>
                                       </div>
                                    </section>
                                    <section class="oe_container">
                                       <div class="oe_row mt96 mb96" style="width: 420px;">
                                          <a href="https://www.prolitus.com/free-trial?app=shopify-ept&amp;version=12&amp;edition=enterprise" target="_blank">
                                             <h3 class="contct_us_btn" style="padding: 18px;letter-spacing: 0.6px;background: linear-gradient(to right, #083FDA, #087DDA);text-align: center;box-shadow: 2px 1px 12px 3px #ece6e6;border-radius: 10px;color: #fff;font-family: &quot;Montserrat&quot;;font-weight: 600;text-transform: uppercase;">Request a Free Demo</h3>
                                          </a>
                                       </div>
                                    </section>
<section class="oe_container">
                                       <div class="mt64 mb64">
                                           <h2 style="color: #091E42;font-family: &quot;Montserrat&quot;;text-align: center;margin: 25px auto;text-transform: uppercase;"
                                            class="oe_slogan">
                                               <b>Highlights</b>
                                           </h2>
                                           <div class="row">
<div class="col-md-6 col-sm-12 mt32">
                                        <div class="container"
                                             style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;padding: 10px 0px;">
                                            <div class="col-md-3" style="float: left;">
                                                <img class="img img-responsive" src="screens/synchronize-products.png"/>
                                            </div>
                                            <div class="col-md-9" style="padding-left:0;float: left;width: 70&#37;;">
                                                <h3 class="mt16 mb0" style="font-family: Roboto;font-weight: 500;font-size: 22px;">Synchronize Product</h3>
                                                <p class=" mt8" style="font-family: Roboto;">
                                                    Import, Export and Synchronize products and product details between Odoo and Shopify.

                                                </p>
                                            </div>
                                        </div>
                                    </div>
<div class="col-md-6 col-sm-12 mt32">
                                        <div class="container"
                                             style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;padding: 10px 0px;">
                                            <div class="col-md-3" style="float: left;">
                                                <img class="img img-responsive" src="screens/manage-order.png"/>
                                            </div>
                                            <div class="col-md-9" style="padding-left:0;float: left;width: 70&#37;;">
                                                <h3 class="mt16 mb0" style="font-family: Roboto;font-weight: 500;font-size: 22px;">Manage Orders</h3>
                                                <p class=" mt8" style="font-family: Roboto;">
                                                    Import Shopify orders to Odoo, Update order status from Odoo to Shopify.

                                                </p>
                                            </div>
                                        </div>
                                    </div>
<div class="col-md-6 col-sm-12 mt32">
                                        <div class="container"
                                             style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;padding: 10px 0px;">
                                            <div class="col-md-3" style="float: left;">
                                                <img class="img img-responsive" src="screens/manage-multiple-stores.png"/>
                                            </div>
                                            <div class="col-md-9" style="padding-left:0;float: left;width: 70&#37;;">
                                                <h3 class="mt16 mb0" style="font-family: Roboto;font-weight: 500;font-size: 22px;">Manage Multiple Stores</h3>
                                                <p class=" mt8" style="font-family: Roboto;">
                                                    Connect multiple Shopify Stores with a single Odoo database.<br/><br/>

                                                </p>
                                            </div>
                                        </div>
                                    </div>
<div class="col-md-6 col-sm-12 mt32">
                                        <div class="container"
                                             style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;padding: 10px 0px;">
                                            <div class="col-md-3" style="float: left;">
                                                <img class="img img-responsive" src="screens/manage-collection.png"/>
                                            </div>
                                            <div class="col-md-9" style="padding-left:0;float: left;width: 70&#37;;">
                                                <h3 class="mt16 mb0" style="font-family: Roboto;font-weight: 500;font-size: 22px;">Manage Collections</h3>
                                                <p class=" mt8" style="font-family: Roboto;">
                                                    Manage Custom collection and Smart collection and synchronize collections between Odoo and Shopify.

                                                </p>
                                            </div>
                                        </div>
                                    </div>
<div class="col-md-6 col-sm-12 mt32">
                                        <div class="container"
                                             style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;padding: 10px 0px;">
                                            <div class="col-md-3" style="float: left;">
                                                <img class="img img-responsive" src="screens/manage-price-&-stock.png"/>
                                            </div>
                                            <div class="col-md-9" style="padding-left:0;float: left;width: 70&#37;;">
                                                <h3 class="mt16 mb0" style="font-family: Roboto;font-weight: 500;font-size: 22px;">Manage Price and Stock</h3>
                                                <p class=" mt8" style="font-family: Roboto;">
                                                    Synchronize Product Stock and Product Price between Shopify and Odoo.

                                                </p>
                                            </div>
                                        </div>
                                    </div>
<div class="col-md-6 col-sm-12 mt32">
                                        <div class="container"
                                             style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;padding: 10px 0px;">
                                            <div class="col-md-3" style="float: left;">
                                                <img class="img img-responsive" src="screens/manage-returns-&-refund.png"/>
                                            </div>
                                            <div class="col-md-9" style="padding-left:0;float: left;width: 70&#37;;">
                                                <h3 class="mt16 mb0" style="font-family: Roboto;font-weight: 500;font-size: 22px;">Manage Returns & Refund</h3>
                                                <p class=" mt8" style="font-family: Roboto;">
                                                    Manage Product Returns in Odoo and send a credit note from Odoo to Shopify.

                                                </p>
                                            </div>
                                        </div>
                                    </div>
<div class="col-md-6 col-sm-12 mt32">
                                        <div class="container"
                                             style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;padding: 10px 0px;">
                                            <div class="col-md-3" style="float: left;">
                                                <img class="img img-responsive" src="screens/set-automatic-jobs.png"/>
                                            </div>
                                            <div class="col-md-9" style="padding-left:0;float: left;width: 70&#37;;">
                                                <h3 class="mt16 mb0" style="font-family: Roboto;font-weight: 500;font-size: 22px;">Set Automatic Jobs</h3>
                                                <p class=" mt8" style="font-family: Roboto;">
                                                    Set automatic jobs to perform various vital Shopify Odoo Operations.

                                                </p>
                                            </div>
                                        </div>
                                    </div>
<div class="col-md-6 col-sm-12 mt32">
                                        <div class="container"
                                             style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;padding: 10px 0px;">
                                            <div class="col-md-3" style="float: left;">
                                                <img class="img img-responsive" src="screens/track-mismatch-log.png"/>
                                            </div>
                                            <div class="col-md-9" style="padding-left:0;float: left;width: 70&#37;;">
                                                <h3 class="mt16 mb0" style="font-family: Roboto;font-weight: 500;font-size: 22px;">Track Mismatch Log</h3>
                                                <p class=" mt8" style="font-family: Roboto;">
                                                    Find out the reasons of unsuccessful operations in Mismatch Log.

                                                </p>
                                            </div>
                                        </div>
                                    </div>
</div>
        </div>
    </section>
<section class="oe_container">
                                       <div id="loempia_tabs" class="" style="padding:64px 0px;margin: 100px 0px;background-color:#F0F4F7;">
                                          <ul role="tablist" class="nav nav-tabs justify-content-center" data-tabs="tabs" style="border: none;background: unset;">
                                             <li class="nav-item" style="border-top-right-radius: 6px;border-top-left-radius: 6px;background: linear-gradient(to top, #FF9B31, #ffdd2c);margin-right: 1px;padding-bottom: 2px;">
                                                <a href="#ept_features" data-toggle="tab" aria-expanded="true" class="active show" style="font-family: Roboto;text-transform: uppercase;font-weight: 600;font-size: 15px;letter-spacing: 1px;padding: 10px 20px;border-top-left-radius: 5px;border-top-right-radius: 5px;color: #2b2b2b;">Features
                                                </a>
                                             </li>
                                             <li class="nav-item" style="border-top-right-radius: 6px;border-top-left-radius: 6px;background: linear-gradient(to top, #FF9B31, #ffdd2c);margin-right: 1px;padding-bottom: 2px;">
                                                <a href="#ept_screenshots" data-toggle="tab" aria-expanded="true" class="" style="font-family: Roboto;text-transform: uppercase;font-weight: 600;font-size: 15px;letter-spacing: 1px;padding: 10px 20px;border-top-left-radius: 5px;border-top-right-radius: 5px;color: #2b2b2b;">Screenshots
                                                </a>
                                             </li>
                                             <li class="nav-item" style="border-top-right-radius: 6px;border-top-left-radius: 6px;background: linear-gradient(to top, #FF9B31, #ffdd2c);margin-right: 1px;padding-bottom: 2px;">
                                                <a href="#ept_userguid" data-toggle="tab" aria-expanded="true" class="" style="font-family: Roboto;text-transform: uppercase;font-weight: 600;font-size: 15px;letter-spacing: 1px;padding: 10px 20px;border-top-left-radius: 5px;border-top-right-radius: 5px;color: #2b2b2b;">User Guide
                                                </a>
                                             </li>
                                             <li class="nav-item" style="border-top-right-radius: 6px;border-top-left-radius: 6px;background: linear-gradient(to top, #FF9B31, #ffdd2c);margin-right: 1px;padding-bottom: 2px;">
                                                <a href="#ept_faqs" data-toggle="tab" aria-expanded="true" class="" style="font-family: Roboto;text-transform: uppercase;font-weight: 600;font-size: 15px;letter-spacing: 1px;padding: 10px 20px;border-top-left-radius: 5px;border-top-right-radius: 5px;color: #2b2b2b;">FAQs
                                                </a>
                                             </li>
                                          </ul>
                                          <div id="loempia_tabs_content_ept" class="tab-content" style="background: #fff;border-radius: 10px;padding: 2&#37;;margin: 0&#37; 2&#37;;padding-top:4&#37;;">
<!-- Features Tabs -->
                                                             <div class="tab-pane active show" id="ept_features">
                                                                <div class="container">
<section id="other-legal-references">
<h3 class="text-center alert" style="font-family: Roboto;font-weight:500;color: #091E42;background: #F0F4F7;border-radius: 10px;">Odoo to Shopify - Export Operations</h3>
                                               <ul><li class="mb8" style="font-family: Roboto;color:#091E42;list-style-type: square;">Export and update products and product details</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;list-style-type: square;">Export and update product stock, price and images</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;list-style-type: square;">Export and Update Custom &amp; Smart Collections</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;list-style-type: square;">Publish or Unpublish products to Shopify store from Odoo</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;list-style-type: square;">Update Order Status of Completed and Cancelled orders</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;list-style-type: square;">Manage Refunds</li>
</ul><h3 class="text-center alert" style="font-family: Roboto;font-weight:500;color: #091E42;background: #F0F4F7;border-radius: 10px;">Shopify to Odoo - Import Operations</h3>
                                               <ul><li class="mb8" style="font-family: Roboto;color:#091E42;list-style-type: square;">Import or Synchronize products</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;list-style-type: square;">Import Product Stock, price and image</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;list-style-type: square;">Import Unfulfilled Orders</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;list-style-type: square;">Import Collections</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;list-style-type: square;">Import Customer Details</li>
</ul></section>
<section class="oe_container mt64">
<div class="mb64">
<h3 class="text-center alert" style="font-family: Roboto;font-weight:500;color: #091E42;background: #F0F4F7;border-radius: 10px;">Synchronize Product</h3>
<div class="mt16 mb16">
                                                        <img src="synchronize-product.png" class="img img-responsive center-block" style="max-width:80&#37;;"/>
                                                    </div>
</div>
<div class="mb64">
<h3 class="text-center alert" style="font-family: Roboto;font-weight:500;color: #091E42;background: #F0F4F7;border-radius: 10px;">Import Order</h3>
<div class="mt16 mb16">
                                                        <img src="import-order.png" class="img img-responsive center-block" style="max-width:80&#37;;"/>
                                                    </div>
</div>
<div class="mb64">
<h3 class="text-center alert" style="font-family: Roboto;font-weight:500;color: #091E42;background: #F0F4F7;border-radius: 10px;">Collection</h3>
<div class="mt16 mb16">
                                                        <img src="collection.png" class="img img-responsive center-block" style="max-width:80&#37;;"/>
                                                    </div>
</div>
<div class="mb64">
<h3 class="text-center alert" style="font-family: Roboto;font-weight:500;color: #091E42;background: #F0F4F7;border-radius: 10px;">Cancel orders</h3>
<div class="mt16 mb16">
                                                        <img src="cancel-order.png" class="img img-responsive center-block" style="max-width:80&#37;;"/>
                                                    </div>
</div>
<div class="mb64">
<h3 class="text-center alert" style="font-family: Roboto;font-weight:500;color: #091E42;background: #F0F4F7;border-radius: 10px;">Refund in Shopify</h3>
<div class="mt16 mb16">
                                                        <img src="refund-in-shopify.png" class="img img-responsive center-block" style="max-width:80&#37;;"/>
                                                    </div>
</div>
<div class="mb64">
<h3 class="text-center alert" style="font-family: Roboto;font-weight:500;color: #091E42;background: #F0F4F7;border-radius: 10px;">Automatic Jobs</h3>
<div class="mt16 mb16">
                                                        <img src="automatic-jobs.png" class="img img-responsive center-block" style="max-width:80&#37;;"/>
                                                    </div>
</div>
</section>
</div>
</div>
<div class="tab-pane" id="ept_screenshots">
                                               <section class="oe_container">
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Create Shopify Instance</h3>
<div class="mt16 mb16">
                                                      <img src="screens/1(1).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Configure Shopify Instance</h3>
<div class="mt16 mb16">
                                                      <img src="screens/2(2).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;"></h3>
<div class="mt16 mb16">
                                                      <img src="screens/3(3).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;"></h3>
<div class="mt16 mb16">
                                                      <img src="screens/4(4).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Configure the Sale Auto Workflow</h3>
<div class="mt16 mb16">
                                                      <img src="screens/5(5).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Set the Payment Gateways</h3>
<div class="mt16 mb16">
                                                      <img src="screens/6(6).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Detailed information of Financial Status</h3>
<div class="mt16 mb16">
                                                      <img src="screens/8(8).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Perform Shopify Operations from Dashboard</h3>
<div class="mt16 mb16">
                                                      <img src="screens/9(9).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Check Connection for Shopify Instances</h3>
<div class="mt16 mb16">
                                                      <img src="screens/10(10).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Various Shopify Product Operations</h3>
<div class="mt16 mb16">
                                                      <img src="screens/11(11).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Product Details configuration in Shopify</h3>
<div class="mt16 mb16">
                                                      <img src="screens/12(12).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Product Images management</h3>
<div class="mt16 mb16">
                                                      <img src="screens/14(14).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Custom Collection in Shopify</h3>
<div class="mt16 mb16">
                                                      <img src="screens/15(15).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Shopify Smart Collection management</h3>
<div class="mt16 mb16">
                                                      <img src="screens/17(17).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Manage Warehouse for Shopify Orders</h3>
<div class="mt16 mb16">
                                                      <img src="screens/18(18).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Shopify Sale Order</h3>
<div class="mt16 mb16">
                                                      <img src="screens/19(19).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Cancel Sale Order in Shopify</h3>
<div class="mt16 mb16">
                                                      <img src="screens/20(20).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Refunds in Shopify</h3>
<div class="mt16 mb16">
                                                      <img src="screens/21(21).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Process refund in Shopify</h3>
<div class="mt16 mb16">
                                                      <img src="screens/22(22).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Perform Shopify Operations from Dashboard</h3>
<div class="mt16 mb16">
                                                      <img src="screens/23(23).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Set Shipping Method for Shopify Orders</h3>
<div class="mt16 mb16">
                                                      <img src="screens/24(24).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Configure Order & Stock Information</h3>
<div class="mt16 mb16">
                                                      <img src="screens/25(25).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Sales Analysis</h3>
<div class="mt16 mb16">
                                                      <img src="screens/26(26).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Graphical Sales Analysis</h3>
<div class="mt16 mb16">
                                                      <img src="screens/27(27).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Mismatch Logs</h3>
<div class="mt16 mb16">
                                                      <img src="screens/28(28).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Package Management</h3>
<div class="mt16 mb16">
                                                      <img src="screens/29(29).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
</section>
</div>
<div class="tab-pane" id="ept_userguid">
                                                            <div class="container mb32"><hr style="border-top: 1px solid #eee;margin: 5px 0px;padding: 0;"/>
                                           <div style="padding: 10px 15px;">
                                              <a href="https://shop.prolitus.com/documentation/shopify-odoo-connector?version=12" style="color: #091E42;" target="_blank">
                                                 <p class="mb0" style=""><img src="User-Manual-Icon.png" style="width: 40px;margin-right: 15px;"/><span>Read User Guide</span><img src="Redirect.png" style="width: 40px;margin-left: 15px;"/></p>
                                              </a>
                                           </div>
<hr style="border-top: 1px solid #eee;margin: 5px 0px;padding: 0;"/>
                                       <div style="padding: 10px 15px;">
                                          <a href="https://www.youtube.com/watch?v=tB87S7ee8ng&amp;list=PLZGehiXauylaW66t9N2MAMIeydjl0I1p5" style="color: #091E42;" target="_blank">
                                             <p class="mb0" style=""><img src="Video.png" style="width: 40px;margin-right: 15px;"/><span>Watch Video Tutorial</span><img src="Redirect.png" style="width: 40px;margin-left: 15px;"/></p>
                                          </a>
                                       </div>
</div>
</div>
<div class="tab-pane" id="ept_faqs">
                                    <section class="oe_container">
                                       <div class="s_faq mt32 mb32" style="background-color: transparent !important;">
                                          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<div class="panel-group" style="border: 1px solid #ddd;border-radius: 10px;margin-bottom: 20px;">
                                <div class="panel panel-default" style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;border-radius: 10px;">
                                   <div class="panel-heading mt0" style="border:1px solid transparent !important;">
                                      <h4 class="panel-title" style="margin: 0;">
                                         <a class="collapsed" style="color: #000;font-size: 20px;font-weight: 500;font-family: Roboto;" data-toggle="collapse" href="#faq0" aria-expanded="false">
                                         <span class="panelcontent" style="padding: 0&#37; 2&#37;;">
                                             Is this app compatible with Odoo Enterprise as well as Community?
                                         </span>
                                         </a>
                                      </h4>
                                   </div>
                                   <div id="faq0" class="panel-collapse mt16 collapse" style="">
                                      <div>
                                         <p class="mb32" style="border-left: 4px dotted #e6e8ea;height: auto;padding-left: 3&#37;;margin-left: 2&#37;;font-family: Roboto;">
                                            Yes, the app works perfectly well with Odoo Enterprise (On-premise and Odoo.SH) as well as Community. Odoo Online (Cloud) does not allow installation of third-party apps and hence this app cannot be installed on Odoo Online.
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
<div class="panel-group" style="border: 1px solid #ddd;border-radius: 10px;margin-bottom: 20px;">
                                <div class="panel panel-default" style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;border-radius: 10px;">
                                   <div class="panel-heading mt0" style="border:1px solid transparent !important;">
                                      <h4 class="panel-title" style="margin: 0;">
                                         <a class="collapsed" style="color: #000;font-size: 20px;font-weight: 500;font-family: Roboto;" data-toggle="collapse" href="#faq1" aria-expanded="false">
                                         <span class="panelcontent" style="padding: 0&#37; 2&#37;;">
                                             I need an extra feature in this app. How can I request it?
                                         </span>
                                         </a>
                                      </h4>
                                   </div>
                                   <div id="faq1" class="panel-collapse mt16 collapse" style="">
                                      <div>
                                         <p class="mb32" style="border-left: 4px dotted #e6e8ea;height: auto;padding-left: 3&#37;;margin-left: 2&#37;;font-family: Roboto;">
                                            You can <a style="color: #000;text-decoration: underline;" target="_blank"
											href="https://www.prolitus.com/requestquote">contact us</a>
											to request a customization in the app.
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
<div class="panel-group" style="border: 1px solid #ddd;border-radius: 10px;margin-bottom: 20px;">
                                <div class="panel panel-default" style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;border-radius: 10px;">
                                   <div class="panel-heading mt0" style="border:1px solid transparent !important;">
                                      <h4 class="panel-title" style="margin: 0;">
                                         <a class="collapsed" style="color: #000;font-size: 20px;font-weight: 500;font-family: Roboto;" data-toggle="collapse" href="#faq2" aria-expanded="false">
                                         <span class="panelcontent" style="padding: 0&#37; 2&#37;;">
                                             Do I get free upgrades and support if I purchase the app?
                                         </span>
                                         </a>
                                      </h4>
                                   </div>
                                   <div id="faq2" class="panel-collapse mt16 collapse" style="">
                                      <div>
                                         <p class="mb32" style="border-left: 4px dotted #e6e8ea;height: auto;padding-left: 3&#37;;margin-left: 2&#37;;font-family: Roboto;">
                                            Yes, you can avail a free upgrade & support services for the app. Kindly read our
                                            <a style="color: #000;text-decoration: underline;" target="_blank"
								            href="https://shop.prolitus.com/support-policy-odoo-apps">support policy</a>
								            to know the details.
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
<div class="panel-group" style="border: 1px solid #ddd;border-radius: 10px;margin-bottom: 20px;">
                                <div class="panel panel-default" style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;border-radius: 10px;">
                                   <div class="panel-heading mt0" style="border:1px solid transparent !important;">
                                      <h4 class="panel-title" style="margin: 0;">
                                         <a class="collapsed" style="color: #000;font-size: 20px;font-weight: 500;font-family: Roboto;" data-toggle="collapse" href="#faq3" aria-expanded="false">
                                         <span class="panelcontent" style="padding: 0&#37; 2&#37;;">
                                             How many Shopify stores can I connect with a single Odoo Instance?
                                         </span>
                                         </a>
                                      </h4>
                                   </div>
                                   <div id="faq3" class="panel-collapse mt16 collapse" style="">
                                      <div>
                                         <p class="mb32" style="border-left: 4px dotted #e6e8ea;height: auto;padding-left: 3&#37;;margin-left: 2&#37;;font-family: Roboto;">
                                            The Shopify Odoo Connector lets connect as many Shopify stores as you want with a single Odoo Instance.
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
<div class="panel-group" style="border: 1px solid #ddd;border-radius: 10px;margin-bottom: 20px;">
                                <div class="panel panel-default" style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;border-radius: 10px;">
                                   <div class="panel-heading mt0" style="border:1px solid transparent !important;">
                                      <h4 class="panel-title" style="margin: 0;">
                                         <a class="collapsed" style="color: #000;font-size: 20px;font-weight: 500;font-family: Roboto;" data-toggle="collapse" href="#faq4" aria-expanded="false">
                                         <span class="panelcontent" style="padding: 0&#37; 2&#37;;">
                                             Does the Shopify Odoo Connector allow two-way synchronization of Products?
                                         </span>
                                         </a>
                                      </h4>
                                   </div>
                                   <div id="faq4" class="panel-collapse mt16 collapse" style="">
                                      <div>
                                         <p class="mb32" style="border-left: 4px dotted #e6e8ea;height: auto;padding-left: 3&#37;;margin-left: 2&#37;;font-family: Roboto;">
                                            Yes, you can export Products from Odoo to Shopify as well as import Products from Shopify to Odoo. If the products are already present on Odoo as well as Shopify, you can establish a synchronization between them using the connector
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
<div class="panel-group" style="border: 1px solid #ddd;border-radius: 10px;margin-bottom: 20px;">
                                <div class="panel panel-default" style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;border-radius: 10px;">
                                   <div class="panel-heading mt0" style="border:1px solid transparent !important;">
                                      <h4 class="panel-title" style="margin: 0;">
                                         <a class="collapsed" style="color: #000;font-size: 20px;font-weight: 500;font-family: Roboto;" data-toggle="collapse" href="#faq5" aria-expanded="false">
                                         <span class="panelcontent" style="padding: 0&#37; 2&#37;;">
                                             On what basis are the product synchronized?
                                         </span>
                                         </a>
                                      </h4>
                                   </div>
                                   <div id="faq5" class="panel-collapse mt16 collapse" style="">
                                      <div>
                                         <p class="mb32" style="border-left: 4px dotted #e6e8ea;height: auto;padding-left: 3&#37;;margin-left: 2&#37;;font-family: Roboto;">
                                            The connector synchronizes products by matching the Internal Reference field in Odoo with the SKU field in Shopify. It is mandatory to have a unique SKU or Internal Reference for a product.
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
<div class="panel-group" style="border: 1px solid #ddd;border-radius: 10px;margin-bottom: 20px;">
                                <div class="panel panel-default" style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;border-radius: 10px;">
                                   <div class="panel-heading mt0" style="border:1px solid transparent !important;">
                                      <h4 class="panel-title" style="margin: 0;">
                                         <a class="collapsed" style="color: #000;font-size: 20px;font-weight: 500;font-family: Roboto;" data-toggle="collapse" href="#faq6" aria-expanded="false">
                                         <span class="panelcontent" style="padding: 0&#37; 2&#37;;">
                                             How do I manage product prices with the connector?
                                         </span>
                                         </a>
                                      </h4>
                                   </div>
                                   <div id="faq6" class="panel-collapse mt16 collapse" style="">
                                      <div>
                                         <p class="mb32" style="border-left: 4px dotted #e6e8ea;height: auto;padding-left: 3&#37;;margin-left: 2&#37;;font-family: Roboto;">
                                            The connector allows you to update price from Odoo to Shopify via a pricelist. You can set up a pricelist per Shopify instance in Odoo and update the price to Shopify via the pricelist. You also import the prices from Shopify to Odoo, however, the prices will get imported to the pricelist and not directly to the product.
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
<div class="panel-group" style="border: 1px solid #ddd;border-radius: 10px;margin-bottom: 20px;">
                                <div class="panel panel-default" style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;border-radius: 10px;">
                                   <div class="panel-heading mt0" style="border:1px solid transparent !important;">
                                      <h4 class="panel-title" style="margin: 0;">
                                         <a class="collapsed" style="color: #000;font-size: 20px;font-weight: 500;font-family: Roboto;" data-toggle="collapse" href="#faq7" aria-expanded="false">
                                         <span class="panelcontent" style="padding: 0&#37; 2&#37;;">
                                             How do I manage stock updates with the connector?
                                         </span>
                                         </a>
                                      </h4>
                                   </div>
                                   <div id="faq7" class="panel-collapse mt16 collapse" style="">
                                      <div>
                                         <p class="mb32" style="border-left: 4px dotted #e6e8ea;height: auto;padding-left: 3&#37;;margin-left: 2&#37;;font-family: Roboto;">
                                            The connector allows you to update stock from Odoo to Shopify either manually or automatically via a cron job. Stock levels get automatically adjusted in Odoo based on the imported orders. You can also import stock levels from Shopify to Odoo. The imported stock values will create an inventory adjustment entry in Odoo which upon validating will affect the actual stock levels. In the connector settings, you can choose one warehouse per Shopify Instance from which the stock is to be managed.
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
<div class="panel-group" style="border: 1px solid #ddd;border-radius: 10px;margin-bottom: 20px;">
                                <div class="panel panel-default" style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;border-radius: 10px;">
                                   <div class="panel-heading mt0" style="border:1px solid transparent !important;">
                                      <h4 class="panel-title" style="margin: 0;">
                                         <a class="collapsed" style="color: #000;font-size: 20px;font-weight: 500;font-family: Roboto;" data-toggle="collapse" href="#faq8" aria-expanded="false">
                                         <span class="panelcontent" style="padding: 0&#37; 2&#37;;">
                                             What kind of orders get imported to Odoo and how can I control it?
                                         </span>
                                         </a>
                                      </h4>
                                   </div>
                                   <div id="faq8" class="panel-collapse mt16 collapse" style="">
                                      <div>
                                         <p class="mb32" style="border-left: 4px dotted #e6e8ea;height: auto;padding-left: 3&#37;;margin-left: 2&#37;;font-family: Roboto;">
                                            Any order on Shopify can be imported to Odoo if the connector has been configured correctly. The connector provides a configuration that lets you choose if you want to import only unfulfilled orders or fulfilled orders or both.
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
</div>
</div>
</section>
</div>
</div>
</div>
</section><section class="oe_container"><h2 style="color: #091E42;font-family: &quot;Montserrat&quot;;text-align: center;margin: 25px auto;text-transform: uppercase;" class="oe_slogan">
                                       <b>Suggested Products</b>
                                       </h2>
                            
                                       <div id="demo" class="row carousel slide mt64 mb32" data-ride="carousel">
                                          <!-- The slideshow -->
                                          <div class="carousel-inner">
<div class="carousel-item active">
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://www.odoo.com/apps/modules/12.0/woo_commerce_ept/" target="_blank">
                                                           <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="Odoo-WooCommerce-Connector.jpg"/>
                                                               <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                                                                    Odoo WooCommerce Connector 
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://www.odoo.com/apps/modules/12.0/ebay_ept/" target="_blank">
                                                           <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="eBay-Odoo-Connector.jpg"/>
                                                               <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                                                                    eBay Odoo Connector
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://www.odoo.com/apps/modules/11.0/odoo_magento2_ept/" target="_blank">
                                                           <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="Odoo-Magento2-Connector.jpg"/>
                                                               <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                                                                    Odoo Magento 2 Connector
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
</div>
<div class="carousel-item">
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://apps.odoo.com/apps/modules/12.0/amazon_vendor_central_ept/" target="_blank">
                                                           <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="Amazon-Vendor-Central-Integration.jpg"/>
                                                               <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                                                                    Amazon Vendor Central Integration
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://www.odoo.com/apps/modules/11.0/shopware_connector_ept/" target="_blank">
                                                           <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="Shopware-Odoo-Connector.jpg"/>
                                                               <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                                                                    Shopware Odoo Connector
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://apps.odoo.com/apps/modules/11.0/cdiscount_ept/" target="_blank">
                                                           <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="Odoo-Cdiscount-Connector.jpg"/>
                                                               <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                                                                    Odoo Cdiscount Connector
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
</div>
<div class="carousel-item">
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://apps.odoo.com/apps/modules/12.0/amazon_fba_connector/" target="_blank">
                                                           <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="Amazon-FBA-Connector.jpg"/>
                                                               <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                                                                    Odoo  Amazon FBA Integration
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://apps.odoo.com/apps/modules/11.0/shipwire_connector_ept/" target="_blank">
                                                           <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="Shipware-Odoo-Connector.jpg"/>
                                                               <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                                                                    Odoo Shipwire Connector 
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://apps.odoo.com/apps/modules/11.0/bol_ept/" target="_blank">
                                                           <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="Odoo-bol.com-connector.jpg"/>
                                                               <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                                                                    Odoo bol.com connector
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
</div>
</div>
                                   <!-- Left and right controls -->
                                   <a class="carousel-control-prev" href="#demo" data-slide="prev" style="left:-25px;width: 35px;color: #000;">
                                       <span class="carousel-control-prev-icon"><i class="fa fa-chevron-left" style="font-size:24px"></i></span>
                                   </a>
                                   <a class="carousel-control-next" href="#demo" data-slide="next" style="right:-25px;width: 35px;color: #000;">
                                       <span class="carousel-control-next-icon"><i class="fa fa-chevron-right" style="font-size:24px"></i></span>
                                   </a>
                                </div>
                            </section>
<section class="oe_container">
                                        <div class="row mb64" style="display: block;margin: 0 auto;width: 100&#37;;text-align: center;">
                                            <div class="mt32" style="display: inline-block;margin:0px 10px;">
                                                <a href="https://www.prolitus.com/requestquote" target="_blank" style="font-family: &quot;Montserrat&quot;;">
                                                    <h4 class="mt16 mb0" style="padding: 16px 45px;font-family: &quot;Montserrat&quot;;text-transform: uppercase;background: linear-gradient(to right, #083FDA, #087DDA);text-align: center;box-shadow: 2px 1px 12px 3px #ece6e6;border-radius: 10px;color: #fff;font-weight: 700;">Contact Us</h4>
                                                </a>
                                            </div>
                                            <div class="mt32" style="display: inline-block;margin:0px 10px;">
                                                <a href="https://www.prolitus.com/odoo-apps-support" target="_blank">
                                                    <h4 class="mt16 mb0" style="background: linear-gradient(to right,  #F27E00, #F29500);padding: 16px 45px;font-family: &quot;Montserrat&quot;;text-transform: uppercase;text-align: center;box-shadow: 2px 1px 12px 3px #ece6e6;border-radius: 10px;color: #fff;font-weight: 700;">Support</h4>
                                                </a>
                                            </div>
                                        </div>
                                    </section>
