<!--

<section class="container">

<div id="loempia_tabs">
                        <ul role="navigation" class="nav nav-tabs" data-tabs="tabs">
                            <li class=""><a href="#tab1" data-toggle="tab" aria-expanded="true">Tab 1</a></li>
                            
                            
                                <li class="active"><a href="#tab2" data-toggle="tab" aria-expanded="false">Tab 2</a></li>
                            
                        </ul>
     <div id="loempia_tabs_content" class="tab-content">
          <div class="tab-pane" id="tab1">
     
<section class="container">
    <div class="oe_row oe_spaced" >
		
        	<div class="mt64" >
	            <a href="http://www.prolitus.com/odoo/services" target="_blank"><img class="img img-responsive" src="odoo_service.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;margin: 0 auto;"/></a>
	        </div>
    </div>
</section>
                        
      </div>                  
                            
          <div class="tab-pane active" id="tab2">
             
           
  

<section class="container">
    <div class="oe_row oe_spaced" style="width:100%;margin-top: 30px;">
            <div class="contct_us_btn" style="padding:7px;margin: 0 auto;display: block;width: 20%;background-color: #087dda;text-align: center;">
            	<a style="color:white;font-size:20px;" href="http://www.prolitus.com/requestquote" target="_blank">Contact Us</a>
            </div>
    </div>
</section>

             
             
             
			</div>
                            
          
      </div>

</section>
-->


<section class="oe_container"><h2 style="color: #091E42;font-family: &quot;Montserrat&quot;;text-align: center;margin: 25px auto;text-transform: uppercase;" class="oe_slogan">
         <b>Suggested Products</b>
      </h2>

<div id="demo" class="row carousel slide mt64 mb32" data-ride="carousel">
   <!-- The slideshow -->
   <div class="carousel-inner">
      <div class="carousel-item active">
         <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;
            ">
            <a href="https://apps.odoo.com/apps/modules/11.0/odoo_magento2_ept/" target="_blank">
               <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                  <img class="img img-responsive center-block" style="border-top-left-radius: 10px;border-top-right-radius: 10px;" src="Odoo-Magento2-Connector.jpg">
                  <h4 class="mt0" style="padding:6% 4%;text-align: center;white-space: nowrap;width: 100%;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                     Odoo Magento2 Connector
                  </h4>
               </div>
            </a>
         </div>
         <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="
            float: left;
            ">
            <a href="https://apps.odoo.com/apps/modules/11.0/cdiscount_ept/" target="_blank">
               <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                  <img class="img img-responsive center-block" style="border-top-left-radius: 10px;border-top-right-radius: 10px;" src="Odoo-Cdiscount-Connector.jpg">
                  <h4 class="mt0" style="padding:6% 4%;text-align: center;white-space: nowrap;width: 100%;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                     Odoo Cdiscount Connector
                  </h4>
               </div>
            </a>
         </div>
         <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="
            float: left;
            ">
            <a href="https://apps.odoo.com/apps/modules/12.0/woo_commerce_ept/" target="_blank">
               <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                  <img class="img img-responsive center-block" style="border-top-left-radius: 10px;border-top-right-radius: 10px;" src="Odoo-WooCommerce-Connector.jpg">
                  <h4 class="mt0" style="padding:6% 4%;text-align: center;white-space: nowrap;width: 100%;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                     Odoo WooCommerce Connector
                  </h4>
               </div>
            </a>
         </div>
      </div>
      <div class="carousel-item">
         <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="
            float: left;
            ">
            <a href="https://apps.odoo.com/apps/modules/11.0/bol_ept/" target="_blank">
               <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                  <img class="img img-responsive center-block" style="border-top-left-radius: 10px;border-top-right-radius: 10px;" src="Odoo-bol.com-connector.jpg">
                  <h4 class="mt0" style="padding:6% 4%;text-align: center;white-space: nowrap;width: 100%;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                     Odoo bol.com connector
                  </h4>
               </div>
            </a>
         </div>
         <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="
            float: left;
            ">
            <a href="https://apps.odoo.com/apps/modules/12.0/shopify_ept/" target="_blank">
               <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                  <img class="img img-responsive center-block" style="border-top-left-radius: 10px;border-top-right-radius: 10px;" src="Shopify-Odoo-Connector.jpg">
                  <h4 class="mt0" style="padding:6% 4%;text-align: center;white-space: nowrap;width: 100%;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                     Shopify Odoo Connector
                  </h4>
               </div>
            </a>
         </div>
         <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="
            float: left;
            ">
            <a href="https://apps.odoo.com/apps/modules/12.0/amazon_all_in_one/" target="_blank">
               <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                  <img class="img img-responsive center-block" style="border-top-left-radius: 10px;border-top-right-radius: 10px;" src="All-in-One-Solution-for-Amazon-Seller.jpg">
                  <h4 class="mt0" style="padding:6% 4%;text-align: center;white-space: nowrap;width: 100%;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                     All in One Solution for Amazon Seller
                  </h4>
               </div>
            </a>
         </div>
      </div>
      <div class="carousel-item">
         <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="
            float: left;
            ">
            <a href="https://apps.odoo.com/apps/modules/11.0/shipwire_connector_ept/" target="_blank">
               <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                  <img class="img img-responsive center-block" style="border-top-left-radius: 10px;border-top-right-radius: 10px;" src="Shipware-Odoo-Connector.jpg">
                  <h4 class="mt0" style="padding:6% 4%;text-align: center;white-space: nowrap;width: 100%;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                     Shipwire Odoo Connector
                  </h4>
               </div>
            </a>
         </div>
         <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="
            float: left;
            ">
            <a href="https://apps.odoo.com/apps/modules/12.0/amazon_vendor_central_ept/" target="_blank">
               <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                  <img class="img img-responsive center-block" style="border-top-left-radius: 10px;border-top-right-radius: 10px;" src="Amazon-Vendor-Central-Integration.jpg">
                  <h4 class="mt0" style="padding:6% 4%;text-align: center;white-space: nowrap;width: 100%;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                     Amazon Vendor Central Integration
                  </h4>
               </div>
            </a>
         </div>
         <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="
            float: left;
            ">
            <a href="https://apps.odoo.com/apps/modules/12.0/edi_ftp_integration/" target="_blank">
               <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                  <img class="img img-responsive center-block" style="border-top-left-radius: 10px;border-top-right-radius: 10px;" src="Dropshipper-EDI-Integration-in-Odoo.jpg">
                  <h4 class="mt0" style="padding:6% 4%;text-align: center;white-space: nowrap;width: 100%;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                     Dropshipper EDI Integration in Odoo
                  </h4>
               </div>
            </a>
         </div>
      </div>
   </div>
   <!-- Left and right controls -->
   <a class="carousel-control-prev" href="#demo" data-slide="prev" style="left:-25px;width: 35px;color: #000;">
   <span class="carousel-control-prev-icon"><i class="fa fa-chevron-left" style="font-size:24px"></i></span>
   </a>
   <a class="carousel-control-next" href="#demo" data-slide="next" style="right:-25px;width: 35px;color: #000;">
   <span class="carousel-control-next-icon"><i class="fa fa-chevron-right" style="font-size:24px"></i></span>
   </a>
</div>

</section>



<section class="container">
    <div class="oe_row oe_spaced" style="width:100%;margin-top: 30px;">
            <div class="contct_us_btn" style="padding:7px;margin: 0 auto;display: block;width: 20%;background-color: #087dda;text-align: center;">
            	<a style="color:white;font-size:20px;" href="http://www.prolitus.com/odoo-apps-support" target="_blank">Get Support</a>
            </div>
    </div>
</section>


